<h3>Sign In</h3>

<form class="ui form" [formGroup]="signInForm">

    <app-input inputType="text" label="Username" [control]="usernameSignInControl"></app-input>
    <app-input inputType="password" label="Password" [control]="passwordSignInControl"></app-input>
    <button class="ui button primary" type="submit">Submit</button>

  <!-- <div class="four wide field">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name" />
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name" />
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button> -->
</form>
